/*START GLOBAL*/
body{
    padding: 0;
    margin:0;
    font:15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #F7F1F8;
}
.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
}
header ul{
    margin:0;
    padding:0;
}
header{
    background-color: #294B8D;
    padding-top: 30px;
    min-height: 70px;
}
header a{
    color:#F7F1F8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    border-right: 2px solid #F7F1F8;
}
header li:last-child{
    border:none;
}
header #branding{
    float: left;

}
header #branding h1{
    margin:0;
    color:#F7F1F8;
}
header #branding a{
    margin:0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color:#D49A2D;
    font-weight: bold;
}
header a:hover{
    color: #FFD585;
}
footer{
    padding:5px;
    margin-top:5px;
    text-align: center;
}
/*END GLOBAL*/
/*START INDEX*/
#slideShow{
    min-height: 500px;
    background: url('../images/slide-1.jpg') no-repeat 0px 0px;
    text-align: center;
    /*border:1px solid black;*/
    width:100%;
    margin:auto;
}
#slideShow h1{
    margin-top:150px;
    font-size: 55px;
    margin-bottom: 10px;
    color:#ffffff;
}
#slideShow button{
    font-size:20px;
    color:#D49A2D;
    background-color: #294B8D;
    border: none;
    padding:17px 30px;
    border-radius: 3px;
}
#slideShow button:hover{
    background-color: #294B8D;
    font-weight: bold;
}
#description{
    text-align: center;
    color:#294B8D;
    font-size: 16px;
    margin: 50px 0px;
}
#articles{
    margin-top:20px;
    background-color: #294B8D;
    color: #ffffff;
}
#articles .article{
    float: left;
    width: 30%;
    padding: 20px;
    text-align: center;
}
#articles .article img{
    width: 90px;
}
.article h3{
    color:#D49A2D;
}
/*END INDEX*/
/*INICIO CONTACTO*/
.contact-main{
    margin-top: 10px;
}
.contact-form{
    float: left;
    margin-left:15%;
    
}
.contact-main form{
    width: auto;
}
.contact-main form *{
    margin-left: 15px;
    margin-bottom: 15px;
    
}
.contact-form h2{
    color: #294B8D;
}
.contact-form form input,textarea,select{
    border: 1px solid #A6B0C3;
    border-radius: 3px;
    font-size: 17px;
    padding-left: 5px;
}
.contact-form form input:focus,textarea:focus,select:focus{
    border-color:#294B8D;
}
.contact-form textarea{
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-form button{
    background-color: #D49A2D;
    color: white;
    border:none;
    font-size: 20px;
    padding:5px;
    border-radius: 3px;
    text-transform: uppercase;
}
.contact-main aside{
    float: right;
    border-radius: 3px;
    width: 30%;
    color:white;
    background-color: #294B8D;
    padding: 10px;
    margin-right: 5%;
}
.contact-main aside h3{
    color: #D49A2D;
}
.contact-main aside ul{
    list-style: none;
}
/*FIN CONTACTO*/
/*INICIO PRODUCTOS*/
.product{
    margin-top: 10px;
}
.product-text{
    width: 60%;
    float:left;
}
.product-text h2{
    color:orange;
}
.product-text h4{
    color:#294B8D;
}
aside{
    float: right;
    border-radius: 3px;
    width: 30%;
    color:white;
    background-color: #294B8D;
    padding: 10px;
    margin-right: 5%;
}
aside h3{
    color: #D49A2D;
}
aside ul{
    list-style-type: disc;
}
/*FIN PRODUCTOS*/